<h1>recipes.erb</h1>
<h2><%= @recipe.name %></h2>
<br>
<p>Ingredients: <%= @recipe.ingredients %></p>
<p>Cook time: <%= @recipe.cook_time %></p>
<br>
<br>
<p><a href="/edit.erb">Edit this recipe</a> | <a href="/recipes/<%=@recipe.id%>/delete">Delete this recipe</a></p>
