<h1>recipes.erb</h1>
<h2><%= @recipe.name %></h2>
<br>
<p>Ingredients: <%= @recipe.ingredients %></p>
<p>Cook time: <%= @recipe.cook_time %></p>

<a href="/edit.erb">Edit this recipe</a>
<form method="post" action="/delete">
  <input type="hidden" name="_method" id="hidden" value="delete">
  <input type="submit" value="Delete this recipe">
</form>
